[Unit]
Description="HashiCorp Consul - A service mesh solution"
Documentation=https://www.consul.io/
Requires=network-online.target
After=network-online.target
ConditionFileNotEmpty={{ consul_config_dir }}/consul_config.hcl

[Service]
User={{ consul_user }}
Group={{ consul_user }}
ExecStart={{ consul_bin_dir }}/consul agent -config-dir={{ consul_config_dir }}/
ExecReload=/bin/kill --signal HUP $MAINPID
KillMode=process
KillSignal=SIGTERM
Restart=on-failure
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target