server = false
data_dir = "{{ consul_data_dir }}"

bind_addr = {% raw %}"{{ GetInterfaceIP \"{% endraw %}{{ consul_interface_name }}{% raw %}\" }}"{% endraw %}

retry_join = [ "{{ consul_server_address }}" ]