---
plugin: amazon.aws.aws_ec2
regions:
  - eu-north-1

keyed_groups:
  - key: tags.Role
    prefix: role
    separator: "_"
  - key: tags.Environment
    prefix: env
    separator: "_"

hostnames:
  - network-interface.addresses.private-ip-address
  - public-ip-address

filters:
  instance-state-name: ["running"]
  tag:Project: "bird"

compose:
  ansible_host: public_ip_address | default(private_ip_address)
