---
- hosts: consul
  become: yes

  tasks:
    - name: Packages updates
      ansible.builtin.apt:
        update_cache: yes

    - name: Ensure that unzip is installed
      ansible.builtin.apt:
        name: unzip
        state: present

    - name: Download and unarchive the Consul binary
      ansible.builtin.unarchive:
        src: "https://releases.hashicorp.com/consul/1.22.3/consul_1.22.3_linux_amd64.zip"
        dest: "/usr/local/bin/"
        remote_src: yes
        owner: vagrant
        group: vagrant
        mode: "0750"