---
- name: Set up Consul VM
  #To run the playbook locally from the hosts.ini file
  #hosts: consul
  hosts: role_consul
  become: true
  roles:
    - role: consul-server

  post_tasks:
    - name: Update apt cache
      ansible.builtin.apt:
        update_cache: true
