---
- name: "Set up Consul VM"
  hosts: consul
  become: true
  vars_files:
    - group_vars/consul.yml

  tasks:
    - name: Update apt cache
      ansible.builtin.apt:
        update_cache: true

    - name: Create resolve.conf.d directory
      ansible.builtin.file:
        path: "/etc/systemd/resolved.conf.d"
        state: directory
        mode: '0755'
        owner: "root"
        group: "root"
      notify: Restart systemd-resolved

    - name: Create systemd-resolved config file
      ansible.builtin.copy:
        src: files/consul.conf
        dest: "/etc/systemd/resolved.conf.d/consul.conf"
        mode: "0644"
        owner: "root"
        group: "root"
      notify: Restart systemd-resolved

    - name: Ensure that unzip is installed
      ansible.builtin.apt:
        name: unzip
        state: present

    - name: Create consul group
      ansible.builtin.group:
        name: "{{ consul_user }}"
        system: true

    - name: Create consul user
      ansible.builtin.user:
        name: "{{ consul_user }}"
        group: "{{ consul_user }}"

    - name: Create consul directories
      ansible.builtin.file:
        path: "{{ item }}"
        state: directory
        owner: "{{ consul_user }}"
        group: "{{ consul_user }}"
        mode: "0755"
      loop:
        - "{{ consul_config_dir }}"
        - "{{ consul_data_dir }}"

    - name: Download and unarchive the Consul binary
      ansible.builtin.unarchive:
        src: "https://releases.hashicorp.com/consul/{{ consul_version }}/consul_{{ consul_version }}_linux_amd64.zip"
        dest: "{{ consul_bin_dir }}/"
        remote_src: true
        owner: "{{ consul_user }}"
        group: "{{ consul_user }}"
        mode: "0755"
      notify: Restart consul

    - name: Create Consul configuration file
      ansible.builtin.template:
        src: templates/consul-server-config.hcl.j2
        dest: "{{ consul_config_dir }}/server-config.hcl"
        owner: "{{ consul_user }}"
        group: "{{ consul_user }}"
        mode: "0644"
      notify: Restart consul

    - name: Create Consul systemd service file
      ansible.builtin.template:
        src: templates/consul.service.j2
        dest: /etc/systemd/system/consul.service
        owner: "{{ consul_user }}"
        group: "{{ consul_user }}"
        mode: "0644"
      notify: Restart consul

    - name: Enable and start systemd service
      ansible.builtin.systemd:
        name: consul.service
        enabled: true
        state: started
        daemon_reload: true

  handlers:
    - name: Restart systemd-resolved
      ansible.builtin.service:
        name: systemd-resolved
        state: restarted

    - name: Restart consul
      ansible.builtin.systemd:
        name: consul.service
        state: restarted
