---
- name: Set up Consul VM
  hosts: consul
  become: true

  tasks:
    - name: Update apt cache
      ansible.builtin.apt:
        update_cache: true

    - name: Install Consul
      ansible.builtin.include_role:
        name: consul
        tasks_from: "{{ tasks_file }}"
      loop:
        - main.yml
        - server.yml
      loop_control:
        loop_var: tasks_file
