---
- name: Set up Consul VM
  hosts: consul
  become: true
  roles:
    - consul-install
    - consul-server

  tasks:
    - name: Update apt cache
      ansible.builtin.apt:
        update_cache: true
