---
- name: Set up PostgreSQL VM
  hosts: db
  become: true
  roles:
    - role: consul-agent

  post_tasks:
    - name: Packages updates
      ansible.builtin.apt:
        update_cache: true

    - name: Install packages
      ansible.builtin.apt:
        name: postgresql
        state: present

    - name: Create consul service config file
      ansible.builtin.copy:
        src: files/postgresql.hcl
        dest: "{{ consul_config_dir }}/postgresql.hcl"
        owner: "{{ consul_user }}"
        group: "{{ consul_user }}"
        mode: "0644"
      notify: Restart consul

  handlers:
    - name: Restart consul
      ansible.builtin.systemd:
        name: consul
        state: restarted
