name: Linters
on: [push, pull_request]
jobs:
  markdown-lint:
    name: Markdown lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          ref: ${{ github.ref }}
      - name: Run linter
        uses: DavidAnson/markdownlint-cli2-action@v22
        with:
          fix: true
          globs: '**/*.md'